<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SysadminsLV.Asn1Parser" version="1.2.12" targetFramework="net472" />
  <package id="SysadminsLV.PKI" version="4.1.0" targetFramework="net472" />
  <package id="SysadminsLV.PKI.OcspClient" version="4.1.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Pkcs" version="8.0.0" targetFramework="net472" />
</packages>